.position-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAbout .position-in-container button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.imgAbout:hover .position-in-container button {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}


/* The Modal (background) */
.custom-modal {
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */

    /* Location of the box */
    left: 0px;
    top: 0px;

    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);


}

.custom-modal-disabled {
    -webkit-animation-name: modalClose;
    -webkit-animation-duration: 1s;
    animation-name: modalClose;
    animation-duration: 1s;
    /* If modal disabled (which it is by default), make it invisible using the animation. The animation has a delay so that it fires after the closing animation. You also need to set the position here so it stays there after the animation */
    top: -999999px;
}

/* Animation to completely hide the modal parent after the closing animation.
    display: block doesnt work here because you can't animate it.
  */
@keyframes modalClose {
    0% {
        top: 0;
    }

    99% {
        top: 0;
    }

    100% {
        top: -999999px;
    }
}

/* Modal Content */
.custom-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 2em;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #888;
    width: 500px;
    height: 400px;
    gap: 1em;
    margin: 2% auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.custom-modal-content h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 20px;
    color: #000000;
}

.custom-modal-content p {
    font-weight: lighter;
    font-size: 23px;
    line-height: 40px;
    /* or 174% */

    text-align: center;

    color: #000000;
}

/* Add Animation */
@keyframes animatetop {
    0% {
        top: -500px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes animateclose {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -500px;
        opacity: 0;
    }
}

/* Modal content if modal disabled: Show closing animation */
.custom-modal-disabled .custom-modal-content {
    -webkit-animation-name: animateclose;
    -webkit-animation-duration: 1.2s;
    animation-name: animateclose;
    animation-duration: 1.2s;
    top: -500px;
}

/* Modal content if modal enabled: Show opening animation */
.custom-modal-enabled .custom-modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.2s;
    animation-name: animatetop;
    animation-duration: 1.2s;
    top: 0;
}

.imgAbout .position-in-container button,
.custom-modal-content button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    background: #2A3342;
    padding: .5em;
}

.imgAbout .position-in-container button:hover,
.custom-modal-content button:hover {
    color: #fff;
    background-color: #171b24;
}


/* The Close Button */
.close {
    color: #a1a1a1;
    float: right;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    height: 30px;

    top: -20px;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}